@font-face {
  font-family: manropeLight;
  src: url('/fonts/Manropelight.ttf') format('truetype');
}

@font-face {
  font-family: philosopherBold;
  src: url('/fonts/Philosopher-Bold.ttf') format('truetype');
}